
<!-- <div class="extraInformation">
	A letter detailing this information was sent to the following address
	on {{dateSent}} <br>
	<div class="address">
		{{title}} {{forename}} {{surname}}<br> {{addressLine1}}<br>
		{{addressLine2}}<br> {{addressLine3}}<br> {{postcode}}<br>
	</div>
</div>-->
<br>
<div class="agreementNumber">Agreement No: {{agreementNumber}}</div>
<div class="registrationNumber">Car Registration:
	{{registrationNumber}}</div>
<br>
Dear {{title}} {{surname}}
<br>
<p>Your current finance agreement with Fiat Financial Services is
	due to be completed on {{finalPaymentDate}}. As a customer who has a
	Fiat i-Deal "Personal Contract Purchase" (PCP) agreement, there are
	three options available to you:</p>
<ol>
	<li class="partExchangeAction"><a href="#"
		onclick="{{partExchangeAction}}">Part exchange for a new vehicle</a></li>
	<li class="finalPaymentAction"><a href="#"
		onclick="{{finalPaymentAction}}">Pay the final payment and keep
			the vehicle</a></li>
	<li class="returnVehicleAction"><a href="#"
		onclick="{{returnVehicleAction}}">Return the vehicle</a></li>
</ol>
<p>Further information about these options is contained on the
	following pages in order to help you make an informed choice. When you
	have decided which alternative to choose, you must inform us using the
	End of Agreement notification form and envelope provided.</p>
<p>
	For further information about the latest Fiat range, or to locate a
	Fiat Dealer please contact Fiat on <a href="tel:080034280000">0800
		3428 0000</a> <a href='skype:echo123?call'><img
		src='/core/com/wcg/mobile/images/callbutton_16px.png'></img></a> or
	alternatively, visit <a href="http://www.fiat.co.uk" target="_blank">www.fiat.co.uk</a>.
</p>
<p>
	For further information about your current finance agreement, please
	contact Fiat Auto Financial Services on <a href="tel:08445614739">0844
		561 4739</a> <a href='skype:echo123?call'><img
		src='/core/com/wcg/mobile/images/callbutton_16px.png'></img></a>
</p>
<br>
<a href="#"
	onClick="(mapView.openMap)?mapView.openMap('16 St Albans Road,Watford,Hertfordshire,WD17 1UN'):'';">Find
	us now</a>
or here
<br>
<br>
<a href="#"
	onClick="(mapView.openMap)?mapView.openMap('Whitemyres Place,Aberdeen,AB16 6HZ'):'';">Find
	us now</a>
<br>
Yours sincerely
<br>
<br>
<br>
Martin Thomas
<br>
Managing Director
<br>