<div class="EOLCarDetail">
    <img src="images/yarisLarge.png"></img>
</div>

<div class="EOLContractDetail">
    <p>
        <u>{{title}} {{surname}}</u></br></br>
        AgreementNumber: <i>122465448</i></br>
        2013 Toyota Yaris</br>
	    Consumer Loan 36 months</br>

    </p>
    <img src="images/pdf.png"></img>

</div>


<div class="EOLFinalPayment">
    <div>
	    <h2>Final Payment</h2>
	   	<span>&pound;6000</span>
	    <h4>Due 12/11/2013</h4>

    </div>
</div>

<div class="EOLOptions">
	<ol>
	    <li class="partExchangeAction"><a href="#"
	        onclick="{{partExchangeAction}}">Part exchange for a new vehicle</a></li>
	    <li class="finalPaymentAction"><a href="#"
	        onclick="{{finalPaymentAction}}">Pay the final payment and keep
	            the vehicle</a></li>
	    <li class="returnVehicleAction"><a href="#"
	        onclick="{{returnVehicleAction}}">Return the vehicle</a></li>
	    <li class="EOLfindADealer"><a href="#"
	        onclick="(mapView.openMap)?mapView.openMap('16 St Albans Road,Watford,Hertfordshire,WD17 1UN'):'';">Return the vehicle</a></li>
	</ol>
</div>


<div class="EOLFooter">
    <p>
        If you would like to discuss your options 
        with a customer representative please contact us from the menu above.
    </p>
</div