<br>
<div class="agreementNumber">Agreement No:	{{agreementNumber}}</div>
<div class="registrationNumber">Car Registration:	{{registrationNumber}}</div>
<br>
Dear {{title}} {{surname}}<br>
<p>
It is great pleasure that I welcome you to our finance scheme. 
Please familiarise yourself with this self service site where you can administer many aspects of your loan.
In future you may use it to get a fast quote on a new car or any outstanding balances on your existing car.  
</p>
<br>
Yours sincerely
<br>
<br>
<br>
Martin Thomas<br>
Managing Director<br>