<div>
	<form id="">
		<div id="usernameLabelDiv">
			<label for="username">username</label>
		</div>
		<div id="usernameInputDiv">
			<input type="text" name="username" class="" placeholder="me@wcg.com">
		</div>
		<div id="passwordLabelDiv">
			<label for="password">password</label>
		</div>
		<div id="passwordInputDiv">
			<input type="password" name="password" class="" placeholder="password">
		</div>
		<div id="loginButtonDiv">
			<input class="loginButton" type="button" value="Log In" onclick="{{attemptLogin}}">
		</div>
		<div id="logoImageDiv">&nbsp</div>
	</form>
</div>
